
{#
    Copyright (c) 2025 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalesce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Name           : Persistent Stage == #}
{# == Node Type Description    : This node creates a work table using config options and also can generate system columns for dimension options  == #}

{% if node.materializationType == 'table' %}
    {{ stage('Create Persistent Stage Table') }}

    CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            `{{ col.name }}` {{ col.dataType }}
            {% if col.isSurrogateKey %}
		        DEFAULT GENERATE_UUID()
            {% else %}
                {%- if col.defaultValue | length > 0 %}
                    DEFAULT {{ col.defaultValue }}
                {% endif %}
            {% endif %}
            {% if not col.nullable %}
                NOT NULL
            {% endif %}
            {%- if col.description | length > 0 %}
                OPTIONS(description = '{{ col.description | escape }}')
            {% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %}
        OPTIONS(description = '{{ node.description | escape }}')
    {% endif %}
{% endif %}
